# Auto detect text files and perform LF normalization
* text=auto

# CSS files
*.css text eol=lf

# Markdown files
*.md text eol=lf

# License file
LICENSE text eol=lf

# Binary files
*.ttf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
